@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|ZCOOL+KuaiLe&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Nanum Pen Script', cursive;
}
html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
}
body{
    background: url("../images/background.png");
}
h1 {
    font-family: 'ZCOOL KuaiLe', cursive;
    margin: 2px auto;
    text-shadow: 2px 2px #656262;
    text-align:center;
}

.characteres{
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px auto;
    width: 650px;
}
.enemies-wrap{
    display: none;
    justify-self: right;
}

.selection, .enemies{
    display: flex;
    align-items: center;
}

.section h3{
    grid-column: 1/4;
}

.enemies figure {
    border-color: 1px solid rgb(190, 83, 83);
}

.battle{
    background: url("../images/battle-scene.gif");
    border: 5px solid #000;
    border-radius: 10px;
    height: 400px;
    width: 650px;
    display: grid;
    margin: 5px auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px auto;
}

.battle-hp-left{
    justify-self: left;
    display: grid;
    grid-template-rows: 20px 30px;
}
.battle-hp-right{
    justify-self: right;
    display: grid;
    grid-template-rows: 20px 30px;
}
.battle-hp-center{
    justify-self: center;
    align-self: center;
    color: white;
    font-size: 24px;
    padding-bottom: 20px;
}

.battle-hp-text {
    color: #fff;
    padding-bottom: 5px;
    margin-left: 6px;
    justify-self: left;
}

.battle-img {
    height: 300px;
    justify-self: center;
    background-color:unset;
    visibility: hidden;
    
}

.battle-img:hover{
    background-color:unset;
    cursor: default;
}


.progress-bar{
    width: 150px;
    height: 20px;
    border: 1px solid #38c358;
    border-radius: 5px;
    background-color: #c8c8c8;
    padding: 0;
    display: inline-block;
    margin: 0 5px
}

.hp-bar{
    background-color: green;
    width: 100%;
    height: 100%;
    padding: 0;
    margin:0;
}

#btn-attack{
    padding: 20px;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
    border-radius: 50px;
    background-color: darkred;
    color: white;
    display: none;
}

#btn-restart{
    padding: 20px;
    width: 100px;
    height: 100px;
    justify-self: center;
    align-self: center;
    border-radius: 50px;
    background-color: darkgreen;
    color: white;
    display: none;
}

#btn-attack:hover{
    background-color: rgb(214, 46, 46);
    font-weight: bold;
}

#battle-msg {
    color: #44f144;
    font-size: 20px;
    font-weight: bold;
    display: none;
    background-color: black;
    width: 650px;
    height: 70px;
    margin: 0 auto;
    padding: 2px 5px;
    border-radius: 5px;
    border: 3px solid green;
    text-align: center;
}

figure{
    flex-wrap: wrap;
    justify-self: center;
}

figcaption {
    text-align: center;
}

img{
    height: 150px;
    cursor: pointer;
}
img:hover{
    background-color: #2599a7;
    border-color: #2599a7;
    border-radius: 10px;
}

.chosen {

    border: 0;
    background-color: unset;
    
}
.chosen:hover{
    background-color: unset;
    border: 0;
    cursor: default;
}

footer{
    margin: 10px auto;
    text-align: center;
}





